*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* html {
  font-size: 62.5%;
} */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #000;
  box-sizing: border-box;
}
.carousel-item:last-child {
  background-color: #feeae9;
}
